<!-- Breadcrumbs Section Panel -->
<div class="page-header">
  <h1>Breadcrumbs</h1>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <ol class="breadcrumb">
      <li class="active">First</li>
    </ol>

    <ol class="breadcrumb">
      <li><a href="#">First</a></li>
      <li class="active">Second</li>
    </ol>

    <ol class="breadcrumb">
      <li><a href="#">Fist</a></li>
      <li><a href="#">Second</a></li>
      <li class="active">Third</li>
    </ol>
  </div>
</div> <!-- Breadcrumbs Section Panel End -->