<!-- Code Example -->
<div class="page-header">
  <h1>Code</h1>
</div>
<p>Example of the <code>Code</code> element.</p>
<p>Example of Keyboard <kbd>CTRL</kbd> key instructions</p>

<pre class="pre-scrollable">
  var themeEditor = new ThemeEditor(less, {
    export: {
      target: '#download-panel-footer',   // Fallback/General Target
      json: {
        target: '#download-panel-footer', // Custom Target
        id: 'download-theme-json',        // Custom Id
        text: 'Download Json'             // Custom Text
      },
      css: {}, // Blank Object provided makes the Css download button appear
      save: {
        url: "http://localhost:9000/example/",
        callback: function () {
          alert('Theme modifications have been saved');
        }
      }
    }
  });
</pre> <!-- /Code Example -->