<div class="page-header">
  <h1>Forms</h1>
</div>

<form role="form">
  <legend>Forms/Input examples</legend>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
      </span>
      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputSurname1">Surname</label>
    <input type="text" class="form-control" id="exampleInputSurname1" placeholder="Surname" disabled>
  </div>
  <div class="form-group">
      <p class="form-control-static">email@example.com</p>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      Option one is this and that—be sure to include why it's great
    </label>
  </div>
  <div class="checkbox disabled">
    <label>
      <input type="checkbox" value="" disabled="">
      Option two is disabled
    </label>
  </div>
  <br>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
      Option one is this and that—be sure to include why it's great
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Option two can be something else and selecting it will deselect option one
    </label>
  </div>
  <div class="radio disabled">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
      Option three is disabled
    </label>
  </div>
  
  <select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>

  <button type="submit" class="btn btn-default">Submit</button>
</form>