<!-- Navs Section Panel -->
<div class="page-header">
  <h1>Navs</h1>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <p>Tabs</p>
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#">Active Tab</a></li>
      <li><a href="#">Tab</a></li>
      <li class="disabled"><a href="#">Tab</a></li>
    </ul>

    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="active"><a href="#">Active Tab</a></li>
      <li><a href="#">Tab</a></li>
      <li class="disabled"><a href="#">Tab</a></li>
    </ul>

    <p>Pills</p>
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Active Tab</a></li>
      <li><a href="#">Tab</a></li>
    </ul>
  </div>
</div> <!-- Navs Section Panel End -->