<!-- Panels Example -->
<div class="page-header" id="panel-component">
  <h1>Panels</h1>
</div>
<div class="row">
  <div class="col-sm-4">
    <!-- Panel Default -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
      <div class="panel-footer">
        Panel Footer
      </div>
    </div> <!-- Panel Default End -->

    <!-- Panel Primary -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
      <div class="panel-footer">
        Panel Footer
      </div>
    </div> <!-- Panel Primary End -->
  </div><!-- /.col-sm-4 -->
  <div class="col-sm-4">
    <!-- Panel Success -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
      <div class="panel-footer">
        Panel Footer
      </div>
    </div> <!-- Panel Success End -->

    <!-- Panel Info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
      <div class="panel-footer">
        Panel Footer
      </div>
    </div> <!-- Panel Info End -->
  </div><!-- /.col-sm-4 -->
  <div class="col-sm-4">
    <!-- Panel Warning -->
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
      <div class="panel-footer">
        Panel Footer
      </div>
    </div> <!-- Panel Warning End -->

    <!-- Panel Danger -->
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
      <div class="panel-footer">
        Panel Footer
      </div>
    </div> <!-- Panel Danger End -->
  </div><!-- /.col-sm-4 -->
</div> <!-- /Panels Example -->