<!-- Popovers Example -->
<div class="page-header">
  <h1>Popovers</h1>
</div>
<div class="panel panel-default">
  <div class="panel-body text-center example-popover-panel">
    <button type="button" class="btn btn-default example-popovers example-left-popover" data-container=".example-popover-panel" data-toggle="popover" data-placement="left" data-title="Popover Left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover on left
    </button>

    <button type="button" class="btn btn-default example-popovers" data-container=".example-popover-panel" data-toggle="popover" data-placement="top" data-title="Popover Top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover on top
    </button>

    <button type="button" class="btn btn-default example-popovers" data-container=".example-popover-panel" data-toggle="popover" data-placement="bottom" data-title="Popover Bottom" data-content="Vivamus
    sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover on bottom
    </button>

    <button type="button" class="btn btn-default example-popovers" data-container=".example-popover-panel" data-toggle="popover" data-placement="right" data-title="Popover Right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover on right
    </button>
  </div>
</div> <!-- /Popovers Example -->