<!-- Tooltips Example -->
<div class="page-header" id="tooltip-component">
  <h1>Tooltips</h1>
</div>
<div class="panel panel-default">
  <div class="panel-body text-center">
    <button type="button" class="btn btn-default example-tooltip example-left-tooltip" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>

    <button type="button" class="btn btn-default example-tooltips" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>

    <button type="button" class="btn btn-default example-tooltips" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>

    <button type="button" class="btn btn-default example-tooltips" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
  </div>
</div> <!-- /Tooltips Example -->