<!-- Tooltips Example -->
<div class="page-header">
  <h1>Typography</h1>
</div>
<h1>h1. Bootstrap heading <small>Secondary text</small></h1>
<h2>h2. Bootstrap heading <small>Secondary text</small></h2>
<h3>h3. Bootstrap heading <small>Secondary text</small></h3>
<h4>h4. Bootstrap heading <small>Secondary text</small></h4>
<h5>h5. Bootstrap heading <small>Secondary text</small></h5>
<h6>h6. Bootstrap heading <small>Secondary text</small></h6>

<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

<hr />
<p>Horizontal Rule</p>
<hr />

<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>

<p class="text-muted">Text muted. Lorem ipsum dolar set</p>
<p class="text-default">Text Default. Lorem ipsum dolar set</p>
<p class="text-primary">Text Primary. Lorem ipsum dolar set</p>
<p class="text-success">Text Success. Lorem ipsum dolar set</p>
<p class="text-info">Text Info. Lorem ipsum dolar set</p>
<p class="text-warning">Text Warning. Lorem ipsum dolar set</p>
<p class="text-danger">Text Danger. Lorem ipsum dolar set</p>

<p>Here is an Abbreviation, <abbr title="Javascript">JS</abbr> is an Abbreviation of Javascript.</p>
<!-- /Tooltips Example -->