<clr-header class="header header-6">
  <div class="branding">
    <a routerLink="/editor" class="nav-link">
      <!-- <img height="40" width="40" src="/assets/parity-shift-logo.svg" alt="Parity shift logo" title="Parity shift logo" />&nbsp;&nbsp; -->
      <span class="title">Cluckles</span>
    </a>
  </div>

  <div class="header-nav" [clr-nav-level]="1">
    <a routerLink="/editor" routerLinkActive="active" class="nav-link"><span class="nav-text">Editor</span></a>
    <!-- <a routerLink="/about" routerLinkActive="active" class="nav-link"><span class="nav-text">About</span></a> -->
    <!-- <a routerLink="/products" routerLinkActive="active" class="nav-link"><span class="nav-text">Products</span></a> -->
  </div>
</clr-header>
