<!-- Theme Example Column -->
<div class='col-md-9'>
  <div id='boostrap-theme-contain'>
    <div class="container" role="main">
      <!-- build:section templates.components.jumbotron --><!-- /build -->

      <!-- build:section templates.components.typography --><!-- /build -->

      <!-- build:section templates.components.buttons --><!-- /build -->

      <!-- build:section templates.components.form --><!-- /build -->

      <!-- build:section templates.components.alerts --><!-- /build -->

      <!-- build:section templates.components.navbars --><!-- /build -->

      <!-- build:section templates.components.tables --><!-- /build -->

      <!-- build:section templates.components.panels --><!-- /build -->

      <!-- build:section templates.components.navs --><!-- /build -->

      <!-- build:section templates.components.listgroups --><!-- /build -->

      <!-- build:section templates.components.dropdowns --><!-- /build -->

      <!-- build:section templates.components.pagination --><!-- /build -->

      <!-- build:section templates.components.breadcrumbs --><!-- /build -->

      <!-- build:section templates.components.thumbnails --><!-- /build -->

      <!-- build:section templates.components.labels --><!-- /build -->

      <!-- build:section templates.components.badges --><!-- /build -->

      <!-- build:section templates.components.tooltips --><!-- /build -->

      <!-- build:section templates.components.popovers --><!-- /build -->

      <!-- build:section templates.components.carousel --><!-- /build -->

      <!-- build:section templates.components.modals --><!-- /build -->

      <!-- build:section templates.components.progressbars --><!-- /build -->

      <!-- build:section templates.components.code --><!-- /build -->

      <!-- build:section templates.components.blockquote --><!-- /build -->

      <!-- build:section templates.components.wells --><!-- /build -->
    </div> <!-- ./container -->
  </div>
</div> <!-- /Theme Example Column -->