<!-- Theme Example Column -->
<div class='col-md-9'>
  <div id='boostrap-theme-contain'>
    <div class="container" role="main">
      <!-- build:section templates.component.jumbotron --><!-- /build -->

      <!-- build:section templates.component.typography --><!-- /build -->

      <!-- build:section templates.component.button --><!-- /build -->

      <!-- build:section templates.component.form --><!-- /build -->

      <!-- build:section templates.component.alert --><!-- /build -->

      <!-- build:section templates.component.navbar --><!-- /build -->

      <!-- build:section templates.component.table --><!-- /build -->

      <!-- build:section templates.component.panel --><!-- /build -->

      <!-- build:section templates.component.nav --><!-- /build -->

      <!-- build:section templates.component.listgroup --><!-- /build -->

      <!-- build:section templates.component.dropdown --><!-- /build -->

      <!-- build:section templates.component.pagination --><!-- /build -->

      <!-- build:section templates.component.breadcrumb --><!-- /build -->

      <!-- build:section templates.component.thumbnail --><!-- /build -->

      <!-- build:section templates.component.label --><!-- /build -->

      <!-- build:section templates.component.badge --><!-- /build -->

      <!-- build:section templates.component.tooltip --><!-- /build -->

      <!-- build:section templates.component.popover --><!-- /build -->

      <!-- build:section templates.component.carousel --><!-- /build -->

      <!-- build:section templates.component.modal --><!-- /build -->

      <!-- build:section templates.component.progressbar --><!-- /build -->

      <!-- build:section templates.component.code --><!-- /build -->

      <!-- build:section templates.component.blockquote --><!-- /build -->

      <!-- build:section templates.component.well --><!-- /build -->
    </div> <!-- ./container -->
  </div>
</div> <!-- /Theme Example Column -->