<!-- Controls Column -->
<div class='col-md-3'>
  <div class="row">
    <!-- build:section templates.page.toolbar -->
    <!-- /build -->
  </div>

  <!-- Download Row -->
  <div class="row">
    <!-- build:section templates.page.downloadpanel -->
    <!-- /build -->
  </div> <!-- /Download Row -->

  <!-- Editor Row -->
  <div class="row">
    <!-- Editor Tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#" data-toggle="tab" data-target="#brandingEditorTab">Branding</a></li>
      <li><a href="#" data-toggle="tab" data-target="#componentsEditorTab">Components</a></li>
    </ul> <!-- /Editor Tabs -->

    <div class="tab-content">
      <div class="tab-pane fade in active" id="brandingEditorTab">
        <!-- Branding Panel -->
        <div class="panel panel-default">
          <div class="panel-body">
            <div class='panel-group' id='brandColor'>
              <!-- build:section templates.editor.branding.default -->
              <!-- /build -->

              <!-- build:section templates.editor.branding.primary -->
              <!-- /build -->

              <!-- build:section templates.editor.branding.success -->
              <!-- /build -->

              <!-- build:section templates.editor.branding.info -->
              <!-- /build -->

              <!-- build:section templates.editor.branding.warning -->
              <!-- /build -->

              <!-- build:section templates.editor.branding.danger -->
              <!-- /build -->
            </div>
          </div>
        </div> <!--/ Branding Panel End -->
      </div>

      <div class="tab-pane fade" id="componentsEditorTab">
        <!-- Components Panel -->
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-group" id="editorComponents">
              <!-- build:section templates.editor.component.jumbotron --><!-- /build -->

              <!-- build:section templates.editor.component.misc --><!-- /build -->

              <!-- build:section templates.editor.component.typography --><!-- /build -->

              <!-- build:section templates.editor.component.button --><!-- /build -->

              <!-- build:section templates.editor.component.form --><!-- /build -->

              <!-- build:section templates.editor.component.navbar --><!-- /build -->

              <!-- build:section templates.editor.component.table --><!-- /build -->

              <!-- build:section templates.editor.component.panel --><!-- /build -->

              <!-- build:section templates.editor.component.nav --><!-- /build -->

              <!-- build:section templates.editor.component.listgroup --><!-- /build -->

              <!-- build:section templates.editor.component.dropdown --><!-- /build -->

              <!-- build:section templates.editor.component.pagination --><!-- /build -->

              <!-- build:section templates.editor.component.breadcrumb --><!-- /build -->

              <!-- build:section templates.editor.component.thumbnail --><!-- /build -->

              <!-- build:section templates.editor.component.label --><!-- /build -->

              <!-- build:section templates.editor.component.badge --><!-- /build -->

              <!-- build:section templates.editor.component.tooltip --><!-- /build -->

              <!-- build:section templates.editor.component.popover --><!-- /build -->

              <!-- build:section templates.editor.component.carousel --><!-- /build -->

              <!-- build:section templates.editor.component.modal --><!-- /build -->

              <!-- build:section templates.editor.component.code --><!-- /build -->

              <!-- build:section templates.editor.component.blockquote --><!-- /build -->
            </div>
          </div>
        </div> <!-- /Components Panel -->
      </div>
    </div>
  </div> <!-- /Editor Row -->
</div> <!-- /Controls Column-->