<!-- Badges Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#badgesEditor">
        Badges
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="badgesEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Color</td><td></td><td><input type="color" data-cluckles-badge="color" /></td>
          </tr>
          <!-- TODO: This is broken in Bootstrap it seems? will re enable when its fixed in Bootstrap -->
<!--          <tr>
            <td>Link Hover Color</td><td></td><td><input type="color" onchange="themeEditor.badge.setLinkHoverColor(this.value);" /></td>
          </tr>-->
          <tr>
            <td>Background Color</td><td></td><td><input type="color" data-cluckles-badge="bg" /></td>
          </tr>
          <tr>
            <td>Active Color</td><td></td><td><input type="color" data-cluckles-badge="active-color" /></td>
          </tr>
          <tr>
            <td>Active Background Color</td><td></td><td><input type="color" data-cluckles-badge="active-bg-color" /></td>
          </tr>
          <tr>
            <td>Line Height</td><td></td><td><input type="number" value="1" placeholder="1" min="0" step="1" data-cluckles-badge="line-height" /></td>
          </tr>
          <tr>
            <td>Font Weight</td><td></td><td><input type="text" value="normal" placeholder="normal" data-cluckles-badge="font-weight" /></td>
          </tr>
          <tr>
            <td>Border Radius</td><td></td><td><input type="number" value="10" placeholder="10" min="0" step="1" data-cluckles-badge="border-radius" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Badges Panel -->