<!-- Breadcrumbs Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#breadcrumbsModifiers">
        Breadcrumbs
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="breadcrumbsModifiers">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Background</td><td></td><td><input type="color" onchange="themeEditor.breadcrumbs.setBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Color</td><td></td><td><input type="color" onchange="themeEditor.breadcrumbs.setColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Active Color</td><td></td><td><input type="color" onchange="themeEditor.breadcrumbs.setActiveColor(this.value);" /></td>
          </tr>
          <!-- TODO: How .... :( ? -->
<!--          <tr>
            <td>Seperator</td><td></td><td><input type="text" onchange="themeEditor.breadcrumbs.setSeperator(this.value);" placeholder="/" /></td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- Breadcrumbs Panel End -->