<!-- Carousel Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#carouselEditor">
        Carousel
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="carouselEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Control Color</td><td></td><td><input type="color" data-cluckles-carousel="control-color" /></td>
          </tr>
          <tr>
            <td>Control Width</td><td></td><td><input type="number" value="15" placeholder="15" min="0" step="1" data-cluckles-carousel="control-width" /></td>
          </tr>
          <tr>
            <td>Control Opacity</td><td></td><td><input type="number" value="0.5" placeholder="0.5" min="0" step="0.1" data-cluckles-carousel="control-opacity" /></td>
          </tr>
          <tr>
            <td>Control Font Size</td><td></td><td><input type="number" value="20" placeholder="20" min="12" step="1" data-cluckles-carousel="control-font-size" /></td>
          </tr>
          <tr>
            <td>Indicator Active Background Color</td><td></td><td><input type="color" data-cluckles-carousel="indicator-active-bg-color" /></td>
          </tr>
          <tr>
            <td>Indicator Border Color</td><td></td><td><input type="color" data-cluckles-carousel="indicator-border-color" /></td>
          </tr>
          <tr>
            <td>Caption Color</td><td></td><td><input type="color" data-cluckles-carousel="caption-color" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Carousel Panel -->