<!-- Code Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#codeEditor">
        Code
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="codeEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Code Color</td><td></td><td><input type="color" data-cluckles-code="code-color" /></td>
          </tr>
          <tr>
            <td>Code Background Color</td><td></td><td><input type="color" data-cluckles-code="code-bg-color" /></td>
          </tr>
          <tr>
            <td>Kbd Color</td><td></td><td><input type="color" data-cluckles-code="kbd-color" /></td>
          </tr>
          <tr>
            <td>Kbd Background Color</td><td></td><td><input type="color" data-cluckles-code="kbd-bg-color" /></td>
          </tr>
          <tr>
            <td>Pre Color</td><td></td><td><input type="color" data-cluckles-code="pre-color" /></td>
          </tr>
          <tr>
            <td>Pre Background Color</td><td></td><td><input type="color" data-cluckles-code="pre-bg-color" /></td>
          </tr>
          <tr>
            <td>Pre Border Color</td><td></td><td><input type="color" data-cluckles-code="pre-border-color" /></td>
          </tr>
          <tr>
            <td>Pre Scrollable Max Height</td><td></td><td><input type="text" value="340" placeholder="340" data-cluckles-code="pre-scrollable-max-height" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Code Panel -->