<!-- Dropdown Branding Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#dropdownEditor">
        Dropdown
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="dropdownEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Background</td><td></td><td><input type="color" data-cluckles-dropdown="bg" /></td>
          </tr>
          <tr>
            <td>Header Color</td><td></td><td><input type="color" data-cluckles-dropdown="header-color" /></td>
          </tr>
          <tr>
            <td>Border Color</td><td></td><td><input type="color" data-cluckles-dropdown="border-color" /></td>
          </tr>
          <tr>
            <td>Divider</td><td></td><td><input type="color" data-cluckles-dropdown="divider" /></td>
          </tr>
          <tr>
            <td>Link Color</td><td></td><td><input type="color" data-cluckles-dropdown="link-color" /></td>
          </tr>
          <tr>
            <td>Link Disabled Color</td><td></td><td><input type="color" data-cluckles-dropdown="link-disabled-color" /></td>
          </tr>
          <tr>
            <td>Link Hover Background</td><td></td><td><input type="color" data-cluckles-dropdown="link-hover-bg" /></td>
          </tr>
          <tr>
            <td>Link Hover Color</td><td></td><td><input type="color" data-cluckles-dropdown="link-hover-color" /></td>
          </tr>
          <tr>
            <td>Link Active Background</td><td></td><td><input type="color" data-cluckles-dropdown="link-active-bg" /></td>
          </tr>
          <tr>
            <td>Link Active Color</td><td></td><td><input type="color" data-cluckles-dropdown="link-active-color" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!--/ Dropdown Branding Panel -->