<!-- Dropdown Branding Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#dropdownEditor">
        Dropdown
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="dropdownEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Background</td><td></td><td><input type="color" onchange="themeEditor.dropdown.setBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Header Color</td><td></td><td><input type="color" onchange="themeEditor.dropdown.setHeaderColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Border</td><td></td><td><input type="color" onchange="themeEditor.dropdown.setBorder(this.value);" /></td>
          </tr>
          <tr>
            <td>Divider</td><td></td><td><input type="color" onchange="themeEditor.dropdown.setDivider(this.value);" /></td>
          </tr>
          <tr>
            <td>Link Color</td><td></td><td><input type="color" onchange="themeEditor.dropdown.setLinkColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Link Disabled Color</td><td></td><td><input type="color" onchange="themeEditor.dropdown.setLinkDisabledColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Link Hover Background</td><td></td><td><input type="color" onchange="themeEditor.dropdown.setLinkHoverBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Link Hover Color</td><td></td><td><input type="color" onchange="themeEditor.dropdown.setLinkHoverColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Link Active Background</td><td></td><td><input type="color" onchange="themeEditor.dropdown.setLinkActiveBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Link Active Color</td><td></td><td><input type="color" onchange="themeEditor.dropdown.setLinkActiveColor(this.value);" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!--/ Dropdown Branding Panel -->