<!-- Form Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#formModifiers">
        Form
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="formModifiers">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Input Background Color</td><td></td><td><input type="color" onchange="themeEditor.form.setInputBackgroundColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Input Disabled Background Color</td><td></td><td><input type="color" onchange="themeEditor.form.setInputDisabledBackgroundColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Input Color</td><td></td><td><input type="color" onchange="themeEditor.form.setInputColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Input Border Color</td><td></td><td><input type="color" onchange="themeEditor.form.setInputBorderColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Input Border Radius</td><td></td><td><input type="text" value="4" placeholder="4" onchange="themeEditor.form.setInputBorderRadius(this.value);" /></td>
          </tr>
          <tr>
            <td>Input Border Focus Color</td><td></td><td><input type="color" onchange="themeEditor.form.setInputBorderFocusColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Input Placeholder Color</td><td></td><td><input type="color" onchange="themeEditor.form.setInputPlaceholderColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Legend Color</td><td></td><td><input type="color" onchange="themeEditor.form.setLegendColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Legend Border Color</td><td></td><td><input type="color" onchange="themeEditor.form.setLegendBorderColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Input Group Addon Background Color</td><td></td><td><input type="color" onchange="themeEditor.form.setInputGroupAddonBackgroundColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Input Group Addon Border Color</td><td></td><td><input type="color" onchange="themeEditor.form.setInputGroupAddonBorderColor(this.value);" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- Form Panel End -->