<!-- Form Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#formEditor">
        Form
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="formEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Input Background Color</td><td></td><td><input type="color" data-cluckles-form="input-bg" /></td>
          </tr>
          <tr>
            <td>Input Disabled Background Color</td><td></td><td><input type="color" data-cluckles-form="input-disabled-bg" /></td>
          </tr>
          <tr>
            <td>Input Color</td><td></td><td><input type="color" data-cluckles-form="input-color" /></td>
          </tr>
          <tr>
            <td>Input Border Color</td><td></td><td><input type="color" data-cluckles-form="input-border-color" /></td>
          </tr>
          <tr>
            <td>Input Border Radius</td><td></td><td><input type="text" value="4" placeholder="4" data-cluckles-form="input-border-radius" /></td>
          </tr>
          <tr>
            <td>Input Border Focus Color</td><td></td><td><input type="color" data-cluckles-form="input-border-focus-color" /></td>
          </tr>
          <tr>
            <td>Input Placeholder Color</td><td></td><td><input type="color" data-cluckles-form="input-placeholder-color" /></td>
          </tr>
          <tr>
            <td>Legend Color</td><td></td><td><input type="color" data-cluckles-form="legend-color" /></td>
          </tr>
          <tr>
            <td>Legend Border Color</td><td></td><td><input type="color" data-cluckles-form="legend-border-color" /></td>
          </tr>
          <tr>
            <td>Input Group Addon Background Color</td><td></td><td><input type="color" data-cluckles-form="input-group-addon-bg" /></td>
          </tr>
          <tr>
            <td>Input Group Addon Border Color</td><td></td><td><input type="color" data-cluckles-form="input-group-addon-border-color" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Form Panel -->