<!-- Label Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#labelEditor">
        Labels
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="labelEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Color</td><td></td><td><input type="color" onchange="themeEditor.labelBase.setColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Link Hover Color</td><td></td><td><input type="color" onchange="themeEditor.labelBase.setLinkHoverColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Default Background Color</td><td></td><td><input type="color" onchange="themeEditor.labelBase.setDefaultBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Primary Background Color</td><td></td><td><input type="color" onchange="themeEditor.labelBase.setPrimaryBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Success Background Color</td><td></td><td><input type="color" onchange="themeEditor.labelBase.setSuccessBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Info Background Color</td><td></td><td><input type="color" onchange="themeEditor.labelBase.setInfoBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Warning Background Color</td><td></td><td><input type="color" onchange="themeEditor.labelBase.setWarningBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Danger Background Color</td><td></td><td><input type="color" onchange="themeEditor.labelBase.setDangerBackground(this.value);" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Label Panel -->