<!-- List Group Branding Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#listGroupModifiers">
        List Group
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="listGroupModifiers">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Background</td><td></td><td><input type="color" onchange="themeEditor.listGroup.setBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Border</td><td></td><td><input type="color" onchange="themeEditor.listGroup.setBorder(this.value);" /></td>
          </tr>
          <tr>
            <td>Hover Background</td><td></td><td><input type="color" onchange="themeEditor.listGroup.setHoverBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Link Heading Color</td><td></td><td><input type="color" onchange="themeEditor.listGroup.setLinkHeadingColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Link Color</td><td></td><td><input type="color" onchange="themeEditor.listGroup.setLinkColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Active Background Color</td><td></td><td><input type="color" onchange="themeEditor.listGroup.setActiveBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Active Border</td><td></td><td><input type="color" onchange="themeEditor.listGroup.setActiveBorder(this.value);" /></td>
          </tr>
          <tr>
            <td>Active Color</td><td></td><td><input type="color" onchange="themeEditor.listGroup.setActiveColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Active Text Color</td><td></td><td><input type="color" onchange="themeEditor.listGroup.setActiveTextColor(this.value);" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!--/ List Group Branding Panel -->