<!-- Misc Color Branding Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#miscBrandingColor" class="text-muted">
        Misc
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="miscBrandingColor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Component Base Background</td><td></td><td><input type="color" onchange="themeEditor.misc.setComponentBaseBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Well Base Background</td><td></td><td><input type="color" onchange="themeEditor.misc.setWellBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Body Background</td><td></td><td><input type="color" onchange="themeEditor.misc.setBodyBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Text Color</td><td></td><td><input type="color" onchange="themeEditor.misc.setTextColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Link Color</td><td></td><td><input type="color" onchange="themeEditor.misc.setLinkColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Link Hover Color</td><td></td><td><input type="color" onchange="themeEditor.misc.setLinkHoverColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Horizontal Rule Color</td><td></td><td><input type="color" onchange="themeEditor.misc.setHrBorder(this.value);" /></td>
          </tr>
          <tr>
            <td>Border Radius Base</td><td></td><td><input type="text" onchange="themeEditor.misc.setBorderRadiusBase(this.value);" value="4px" placeholder="4px" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!--/ Misc Color Branding Panel -->