<!-- Modal Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#modalEditor">
        Modals
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="modalEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Inner Padding</td><td></td><td><input type="number" value="20" min="0" step="1" data-cluckle-modal="inner-padding" /></td>
          </tr>
          <tr>
            <td>Title Padding</td><td></td><td><input type="number" value="15" min="0" step="1" data-cluckle-modal="title-padding" /></td>
          </tr>
          <tr>
            <td>Title Line Height</td><td></td><td><input type="number" value="15" min="0" step="1" data-cluckle-modal="title-line-height" /></td>
          </tr>
          <tr>
            <td>Content Background Color</td><td></td><td><input type="color" data-cluckle-modal="content-bg" /></td>
          </tr>
          <tr>
            <td>Content Border Color</td><td></td><td><input type="color" data-cluckle-modal="content-border-color" /></td>
          </tr>
          <tr>
            <td>Content Fallback Border Color</td><td></td><td><input type="color" data-cluckle-modal="content-fallback-border-color" /></td>
          </tr>
          <tr>
            <td>Backdrop Background Color</td><td></td><td><input type="color" data-cluckle-modal="backdrop-bg" /></td>
          </tr>
          <tr>
            <td>Backdrop Opacity</td><td></td><td><input type="text" placeholder=".5" value=".5" data-cluckle-modal="backdrop-opacity" /></td>
          </tr>
          <tr>
            <td>Header Border Color</td><td></td><td><input type="color" data-cluckle-modal="header-border-color" /></td>
          </tr>
          <tr>
            <td>Footer Border Color</td><td></td><td><input type="color" data-cluckle-modal="footer-border-color" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Modal Panel -->