<!-- Navbars Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#navbarEditor">
        Navbars
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="navbarEditor">
    <div class="panel-body">
      <!-- Navbar Tab Nav -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#baseNavbarTab" data-toggle="tab">Base</a></li>
        <li><a href="#defaultNavbarTab" data-toggle="tab">Default</a></li>
        <li><a href="#inverseNavbarTab" data-toggle="tab">Inverse</a></li>
      </ul> <!-- /Navbar Tab Nav -->

      <div class="tab-content">
        <!-- Base Navbar Tab -->
        <div class="tab-pane active fade in" id="baseNavbarTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Navbar Height</td><td></td><td><input type="number" value="50" min="1" step="1" data-cluckles-navbar="height" /></td>
              </tr>
              <tr>
                <td>Navbar Margin Bottom</td><td></td><td><input type="number" value="30" min="1" step="1" data-cluckles-navbar="margin-bottom" /></td>
              </tr>
              <tr>
                <td>Navbar Border Radius</td><td></td><td><input type="text" value="4" placeholder="4" data-cluckles-navbar="border-radius" /></td>
              </tr>
              <tr>
                <td>Navbar Collapse Max Height</td><td></td><td><input type="number" value="340" min="1" step="1" data-cluckles-navbar="collapse-max-height" /></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- /Base Navbar Tab -->

        <!-- Default Navbar Tab -->
        <div class="tab-pane fade" id="defaultNavbarTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Color</td><td></td><td><input type="color" data-cluckles-navbar-default="color" /></td>
              </tr>
              <tr>
                <td>Background Color</td><td></td><td><input type="color" data-cluckles-navbar-default="bg" /></td>
              </tr>
              <tr>
                <td>Border Color</td><td></td><td><input type="color" data-cluckles-navbar-default="border" /></td>
              </tr>
              <tr>
                <td>Link Color</td><td></td><td><input type="color" data-cluckles-navbar-default="link-color" /></td>
              </tr>
              <tr>
                <td>Link Hover Color</td><td></td><td><input type="color" data-cluckles-navbar-default="link-hover-color" /></td>
              </tr>
              <tr>
                <td>Link Hover Background</td><td></td><td><input type="color" data-cluckles-navbar-default="link-hover-bg" /></td>
              </tr>
              <tr>
                <td>Link Active Color</td><td></td><td><input type="color" data-cluckles-navbar-default="link-active-color" /></td>
              </tr>
              <tr>
                <td>Link Active Background</td><td></td><td><input type="color" data-cluckles-navbar-default="link-active-bg" /></td>
              </tr>
              <tr>
                <td>Link Disabled Color</td><td></td><td><input type="color" data-cluckles-navbar-default="link-disabled-color" /></td>
              </tr>
              <tr>
                <td>Link Disabled Background</td><td></td><td><input type="color" data-cluckles-navbar-default="link-disabled-bg" /></td>
              </tr>
              <tr>
                <td>Brand Color</td><td></td><td><input type="color" data-cluckles-navbar-default="brand-color" /></td>
              </tr>
              <tr>
                <td>Brand Hover Color</td><td></td><td><input type="color" data-cluckles-navbar-default="brand-hover-color" /></td>
              </tr>
              <tr>
                <td>Brand Hover Background</td><td></td><td><input type="color" data-cluckles-navbar-default="brand-hover-bg" /></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- /Default Navbar Tab -->

        <!-- Inverse Navbar Tab -->
        <div class="tab-pane fade" id="inverseNavbarTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Color</td><td></td><td><input type="color" data-cluckles-navbar-inverse="color" /></td>
              </tr>
              <tr>
                <td>Background Color</td><td></td><td><input type="color" data-cluckles-navbar-inverse="bg" /></td>
              </tr>
              <tr>
                <td>Border Color</td><td></td><td><input type="color" data-cluckles-navbar-inverse="border" /></td>
              </tr>
              <tr>
                <td>Link Color</td><td></td><td><input type="color" data-cluckles-navbar-inverse="link-color" /></td>
              </tr>
              <tr>
                <td>Link Hover Color</td><td></td><td><input type="color" data-cluckles-navbar-inverse="link-hover-color" /></td>
              </tr>
              <tr>
                <td>Link Hover Background</td><td></td><td><input type="color" data-cluckles-navbar-inverse="link-hover-bg" /></td>
              </tr>
              <tr>
                <td>Link Active Color</td><td></td><td><input type="color" data-cluckles-navbar-inverse="link-active-color" /></td>
              </tr>
              <tr>
                <td>Link Active Background</td><td></td><td><input type="color" data-cluckles-navbar-inverse="link-active-bg" /></td>
              </tr>
              <tr>
                <td>Link Disabled Color</td><td></td><td><input type="color" data-cluckles-navbar-inverse="link-disabled-color" /></td>
              </tr>
              <tr>
                <td>Link Disabled Background</td><td></td><td><input type="color" data-cluckles-navbar-inverse="link-disabled-bg" /></td>
              </tr>
              <tr>
                <td>Brand Color</td><td></td><td><input type="color" data-cluckles-navbar-inverse="brand-color" /></td>
              </tr>
              <tr>
                <td>Brand Hover Color</td><td></td><td><input type="color" data-cluckles-navbar-inverse="brand-hover-color" /></td>
              </tr>
              <tr>
                <td>Brand Hover Background</td><td></td><td><input type="color" data-cluckles-navbar-inverse="brand-hover-bg" /></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- /Inverse Navbar Tab -->
      </div>
    </div>
  </div>
</div> <!-- /Navbars Panel -->