<!-- Navs Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#navsEditor">
        Navs
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="navsEditor">
    <div class="panel-body">
      <!-- Navs Tab Nav-->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#baseNavsTab" data-toggle="tab">Navs Base</a></li>
        <li><a href="#tabsTab" data-toggle="tab">Tabs</a></li>
        <li><a href="#pillsTab" data-toggle="tab">Pills</a></li>
      </ul> <!-- /Navs Nav -->

      <div class="tab-content">
        <!-- Base Navs Tab -->
        <div class="tab-pane fade active in" id="baseNavsTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Link Padding</td><td></td><td><input type="number" value="8" min="0" step="1" data-cluckles-nav="link-padding" /></td>
              </tr>
              <tr>
                <td>Link Hover Background</td><td></td><td><input type="color" data-cluckles-nav="link-hover-bg" /></td>
              </tr>
              <tr>
                <td>Disabled Link Color</td><td></td><td><input type="color" data-cluckles-nav="link-disabled-color" /></td>
              </tr>
              <tr>
                <td>Disabled Link Hover Color</td><td></td><td><input type="color" data-cluckles-nav="link-disabled-hover-color" /></td>
              </tr>
              <tr>
                <td>Open Link Hover Color</td><td></td><td><input type="color" data-cluckles-nav="link-open-hover-color" /></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- /Base Navs Tab -->

        <!-- Tabs Tab -->
        <div class="tab-pane fade" id="tabsTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Border Color</td><td></td><td><input type="color" data-cluckles-tab="border-color" /></td>
              </tr>
              <tr>
                <td>Link Hover Border Color</td><td></td><td><input type="color" data-cluckles-tab="link-hover-border-color" /></td>
              </tr>
              <tr>
                <td>Link Active Background Color</td><td></td><td><input type="color" data-cluckles-tab="link-active-bg" /></td>
              </tr>
              <tr>
                <td>Link Active Color</td><td></td><td><input type="color" data-cluckles-tab="link-active-color" /></td>
              </tr>
              <tr>
                <td>Link Active Hover Border Color</td><td></td><td><input type="color" data-cluckles-tab="link-active-hover-border-color" /></td>
              </tr>
              <tr>
                <td>Link Justified Border Color</td><td></td><td><input type="color" data-cluckles-tab="link-justified-border-color" /></td>
              </tr>
              <tr>
                <td>Link Justified Active Border Color</td><td></td><td><input type="color" data-cluckles-tab="link-justified-active-border-color" /></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- /Tabs Tab -->

        <!-- Pills Tab -->
        <div class="tab-pane fade" id="pillsTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Border Radius</td><td></td><td><input type="number" value="4" min="1" step="1" data-cluckles-pill="border-radius" /></td>
              </tr>
              <tr>
                <td>Link Active Background Color</td><td></td><td><input type="color" data-cluckles-pill="link-active-bg" /></td>
              </tr>
              <tr>
                <td>Link Active Color</td><td></td><td><input type="color" data-cluckles-pill="link-active-color" /></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- /Pills Tab -->
      </div>
    </div>
  </div>
</div> <!-- /Navs Panel -->