<!-- Navs Branding Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#navsModifiers">
        Navs
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="navsModifiers">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Link Padding</td><td></td><td><input type="number" value="8" min="0" step="1" onchange="themeEditor.navs.setLinkPadding(this.value);" /></td>
          </tr>
          <tr>
            <td>Link Hover Background</td><td></td><td><input type="color" onchange="themeEditor.navs.setLinkHoverBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Disabled Link Color</td><td></td><td><input type="color" onchange="themeEditor.navs.setLinkDisabledColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Disabled Link Hover Color</td><td></td><td><input type="color" onchange="themeEditor.navs.setLinkDisabledHoverColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Open Link Hover Color</td><td></td><td><input type="color" onchange="themeEditor.navs.setLinkOpenHoverColor(this.value);" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!--/ Navs Branding Panel -->