<!-- Pagination Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#paginationEditor">
        Pagination
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="paginationEditor">
    <div class="panel-body">
      <!-- Pagination Tab Nav-->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#paginationTab" data-toggle="tab">Pagination</a></li>
        <li><a href="#pagerTab" data-toggle="tab">Pager</a></li>
      </ul> <!-- /Pagination Nav -->

      <div class="tab-content">
        <!-- Pagination Tab -->
        <div class="tab-pane fade active in" id="paginationTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Color</td><td></td><td><input type="color" data-cluckles-pagination="color" /></td>
              </tr>
              <tr>
                <td>Background</td><td></td><td><input type="color" data-cluckles-pagination="bg" /></td>
              </tr>
              <tr>
                <td>Border</td><td></td><td><input type="color" data-cluckles-pagination="border-color" /></td>
              </tr>
              <tr>
                <td>Hover Color</td><td></td><td><input type="color" data-cluckles-pagination="hover-color" /></td>
              </tr>
              <tr>
                <td>Hover Background</td><td></td><td><input type="color" data-cluckles-pagination="hover-bg" /></td>
              </tr>
              <tr>
                <td>Hover Border</td><td></td><td><input type="color" data-cluckles-pagination="hover-border-color" /></td>
              </tr>
              <tr>
                <td>Active Color</td><td></td><td><input type="color" data-cluckles-pagination="active-color" /></td>
              </tr>
              <tr>
                <td>Active Background</td><td></td><td><input type="color" data-cluckles-pagination="active-bg" /></td>
              </tr>
              <tr>
                <td>Active Border</td><td></td><td><input type="color" data-cluckles-pagination="active-border" /></td>
              </tr>
              <tr>
                <td>Disabled Color</td><td></td><td><input type="color" data-cluckles-pagination="disabled-color" /></td>
              </tr>
              <tr>
                <td>Disabled Background</td><td></td><td><input type="color" data-cluckles-pagination="disabled-bg" /></td>
              </tr>
              <tr>
                <td>Disabled Border</td><td></td><td><input type="color" data-cluckles-pagination="disabled-border-color" /></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- /Pagination Tab -->

        <!-- Pager Tab -->
        <div class="tab-pane fade" id="pagerTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Background</td><td></td><td><input type="color" data-cluckles-pager="bg" /></td>
              </tr>
              <tr>
                <td>Border Color</td><td></td><td><input type="color" data-cluckles-pager="border-color" /></td>
              </tr>
              <tr>
                <td>Border Radius</td><td></td><td><input type="number" value="15" min="0" step="1" data-cluckles-pager="border-radius" /></td>
              </tr>
              <tr>
                <td>Hover Background</td><td></td><td><input type="color" data-cluckles-pager="hover-bg" /></td>
              </tr>
              <!-- These arent Actually used by Bootstrap, just have variables for them :( -->
<!--              <tr>
                <td>Active Color</td><td></td><td><input type="color" data-cluckles-pager="active-color" /></td>
              </tr>
              <tr>
                <td>Active Background</td><td></td><td><input type="color" data-cluckles-pager="active-bg" /></td>
              </tr>-->
              <tr>
                <td>Disabled Color</td><td></td><td><input type="color" data-cluckles-pager="disabled-color" /></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- /Pager Tab -->
      </div>
    </div>
  </div>
</div> <!-- /Pagination Panel -->