<!-- Tables Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#tableEditor">
        Tables
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="tableEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Cell Padding</td><td></td><td><input type="number" value="8" placeholder="8" min="0" step="1" data-cluckles-table="cell-padding" /></td>
          </tr>
          <tr>
            <td>Condensed Cell Padding</td><td></td><td><input type="number" value="5" placeholder="5" min="0" step="1" data-cluckles-table="condensed-cell-padding" /></td>
          </tr>
          <tr>
            <td>Background</td><td></td><td><input type="color" data-cluckles-table="bg" /></td>
          </tr>
          <tr>
            <td>Striped Background Color</td><td></td><td><input type="color" data-cluckles-table="striped-bg" /></td>
          </tr>
          <tr>
            <td>Hover Background</td><td></td><td><input type="color" data-cluckles-table="hover-bg" /></td>
          </tr>
          <tr>
            <td>Active Background Color</td><td></td><td><input type="color" data-cluckles-table="active-bg" /></td>
          </tr>
          <tr>
            <td>Border Color</td><td></td><td><input type="color" data-cluckles-table="border-color" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Tables Panel -->