<!-- Tooltips Panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#editorComponents" href="#tooltipsEditor">
          Tooltips
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="tooltipsEditor">
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr><th>Property</th><th>Example</th><th>Change</th></tr>
          </thead>
          <tbody>
            <tr>
              <td>Max Width</td><td></td><td><input type="number" value="200" min="50" step="1" data-cluckles-tooltip="max-width" /></td>
            </tr>
            <tr>
              <td>Color</td><td></td><td><input type="color" data-cluckles-tooltip="color" /></td>
            </tr>
            <tr>
              <td>Background Color</td><td></td><td><input type="color" data-cluckles-tooltip="bg" /></td>
            </tr>
            <tr>
              <td>Opacity</td><td></td><td><input type="text" placeholder=".9" value=".9" data-cluckles-tooltip="opacity" /></td>
            </tr>
            <tr>
              <td>Arrow Width</td><td></td><td><input type="number" value="5" min="0" step="1" data-cluckles-tooltip="arrow-width" /></td>
            </tr>
            <tr>
              <td>Arrow Color</td><td></td><td><input type="color" data-cluckles-tooltip="arrow-city" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- /Tooltips Panel -->