<!-- Badges Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#badgesEditor">
        Badges
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="badgesEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-badge="color" data-cluckles-delete="#deleteBadgeColor" /><span class="input-group-addon"><button id="deleteBadgeColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <!-- TODO: This is broken in Bootstrap it seems? will re enable when its fixed in Bootstrap -->
<!--          <tr>
            <td>Link Hover Color</td><td></td><td><input type="color" onchange="themeEditor.badge.setLinkHoverColor(this.value);" /></td>
          </tr>-->
          <tr>
            <td>Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-badge="bg" data-cluckles-delete="#deleteBadgeBg" /><span class="input-group-addon"><button id="deleteBadgeBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Active Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-badge="active-color" data-cluckles-delete="#deleteBadgeActiveColor" /><span class="input-group-addon"><button id="deleteBadgeActiveColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Active Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-badge="active-bg-color" data-cluckles-delete="#deleteBadgeActiveBgColor" /><span class="input-group-addon"><button id="deleteBadgeActiveBgColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Line Height</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="1" placeholder="1" min="0" step="1" data-cluckles-badge="line-height" data-cluckles-delete="#deleteBadgeLineHeight" /><span class="input-group-addon"><button id="deleteBadgeLineHeight" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Font Weight</td><td></td><td><div class="input-group"><input type="text" class="form-control" value="normal" placeholder="normal" data-cluckles-badge="font-weight" data-cluckles-delete="#deleteBadgeFontWeight" /><span class="input-group-addon"><button id="deleteBadgeFontWeight" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Border Radius</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="10" placeholder="10" min="0" step="1" data-cluckles-badge="border-radius" data-cluckles-delete="#deleteBadgeBorderRadius" /><span class="input-group-addon"><button id="deleteBadgeBorderRadius" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Badges Panel -->