<!-- Breadcrumbs Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#breadcrumbsEditor">
        Breadcrumbs
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="breadcrumbsEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Background</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-breadcrumb="bg" data-cluckles-delete="#deleteBreadcrumbBg" /><span class="input-group-addon"><button id="deleteBreadcrumbBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-breadcrumb="color" data-cluckles-delete="#deleteBreadcrumbColor" /><span class="input-group-addon"><button id="deleteBreadcrumbColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Active Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-breadcrumb="active-color" data-cluckles-delete="#deleteBreadcrumbActiveColor" /><span class="input-group-addon"><button id="deleteBreadcrumbActiveColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Seperator</td><td></td><td><div class="input-group"><input type="text" class="form-control" data-cluckles-breadcrumb="separator" placeholder="/" data-cluckles-delete="#deleteBreadcrumbSeperator" /><span class="input-group-addon"><button id="deleteBreadcrumbSeperator" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Breadcrumbs Panel -->