<!-- Buttons Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#buttonEditor">
        Buttons
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="buttonEditor">
    <div class="panel-body">
      <!-- Button Tab Nav -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#baseButtonTab" data-toggle="tab">Base</a></li>
        <li><a href="#defaultButtonTab" data-toggle="tab">Default</a></li>
        <li><a href="#primaryButtonTab" data-toggle="tab">Primary</a></li>
        <li><a href="#successButtonTab" data-toggle="tab">Success</a></li>
        <li><a href="#infoButtonTab" data-toggle="tab">Info</a></li>
        <li><a href="#warningButtonTab" data-toggle="tab">Warning</a></li>
        <li><a href="#dangerButtonTab" data-toggle="tab">Danger</a></li>
      </ul> <!-- Button Tab Nav End -->

      <div class="tab-content">
        <!-- Base Button Tab -->
        <div class="tab-pane active fade in" id="baseButtonTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Button Font Weight</td><td></td><td><div class="input-group"><input type="text" class="form-control" placeholder="normal" data-cluckles-buttonbase="font-weight" data-cluckles-delete="#deleteButtonBaseFontWeight" /><span class="input-group-addon"><button id="deleteButtonBaseFontWeight" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
              <!-- This doesnt seem to change? figure out why -->
<!--              <tr>
                <td>Button Disabled Link Color</td><td></td><td><input type="color" data-cluckles-buttonbase="disabled-link-color" /></td>
              </tr>-->
            </tbody>
          </table>
        </div> <!-- Base Button Tab End -->

        <!-- Default Button Tab -->
        <div class="tab-pane fade" id="defaultButtonTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-default="color" data-cluckles-delete="#deleteButtonDefaultColor" /><span class="input-group-addon"><button id="deleteButtonDefaultColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
              <tr>
                <td>Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-default="bg" data-cluckles-delete="#deleteButtonDefaultBg" /><span class="input-group-addon"><button id="deleteButtonDefaultBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
              <tr>
                <td>Hover Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-default="hover-border-color" data-cluckles-delete="#deleteButtonDefaultHoverBorderColor" /><span class="input-group-addon"><button id="deleteButtonDefaultHoverBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- Default Button Tab End -->

        <!-- Primary Button Tab -->
        <div class="tab-pane fade" id="primaryButtonTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-primary="color" data-cluckles-delete="#deleteButtonPrimaryColor" /><span class="input-group-addon"><button id="deleteButtonPrimaryColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
              <tr>
                <td>Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-primary="bg" data-cluckles-delete="#deleteButtonPrimaryBg" /><span class="input-group-addon"><button id="deleteButtonPrimaryBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
              <tr>
                <td>Hover Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-primary="hover-border-color" data-cluckles-delete="#deleteButtonPrimaryHoverBorderColor" /><span class="input-group-addon"><button id="deleteButtonPrimaryHoverBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- Primary Button Tab End -->

        <!-- Success Button Tab -->
        <div class="tab-pane fade" id="successButtonTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-success="color" data-cluckles-delete="#deleteButtonSuccessColor" /><span class="input-group-addon"><button id="deleteButtonSuccessColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
              <tr>
                <td>Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-success="bg" data-cluckles-delete="#deleteButtonSuccessBg" /><span class="input-group-addon"><button id="deleteButtonSuccessBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
              <tr>
                <td>Hover Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-success="hover-border-color" data-cluckles-delete="#deleteButtonSuccessHoverBorderColor" /><span class="input-group-addon"><button id="deleteButtonSuccessHoverBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- Success Button Tab End -->

        <!-- Info Button Tab -->
        <div class="tab-pane fade" id="infoButtonTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-info="color" data-cluckles-delete="#deleteButtonInfoColor" /><span class="input-group-addon"><button id="deleteButtonInfoColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
              <tr>
                <td>Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-info="bg" data-cluckles-delete="#deleteButtonInfoBg" /><span class="input-group-addon"><button id="deleteButtonInfoBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
              <tr>
                <td>Hover Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-info="hover-border-color" data-cluckles-delete="#deleteButtonInfoHoverBorderColor" /><span class="input-group-addon"><button id="deleteButtonInfoHoverBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- Info Button Tab End -->

        <!-- Warning Button Tab -->
        <div class="tab-pane fade" id="warningButtonTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-warning="color" data-cluckles-delete="#deleteButtonWarningColor" /><span class="input-group-addon"><button id="deleteButtonWarningColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
              <tr>
                <td>Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-warning="bg" data-cluckles-delete="#deleteButtonWarningBg" /><span class="input-group-addon"><button id="deleteButtonWarningBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
              <tr>
                <td>Hover Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-warning="hover-border-color" data-cluckles-delete="#deleteButtonWarningHoverBorderColor" /><span class="input-group-addon"><button id="deleteButtonWarningHoverBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- Warning Button Tab End -->

        <!-- Danger Button Tab -->
        <div class="tab-pane fade" id="dangerButtonTab">
          <table class="table table-bordered">
            <thead>
              <tr><th>Property</th><th>Example</th><th>Change</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-danger="color" data-cluckles-delete="#deleteButtonDangerColor" /><span class="input-group-addon"><button id="deleteButtonDangerColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
              <tr>
                <td>Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-danger="bg" data-cluckles-delete="#deleteButtonDangerBg" /><span class="input-group-addon"><button id="deleteButtonDangerBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
              <tr>
                <td>Hover Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-button-danger="hover-border-color" data-cluckles-delete="#deleteButtonDangerHoverBorderColor" /><span class="input-group-addon"><button id="deleteButtonDangerHoverBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- Danger Button Tab End -->
      </div>
    </div>
  </div>
</div> <!-- /Buttons Panel -->