<!-- Code Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#codeEditor">
        Code
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="codeEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Code Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-code="code-color" data-cluckles-delete="#deleteCodeColor" /><span class="input-group-addon"><button id="deleteCodeColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Code Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-code="code-bg-color" data-cluckles-delete="#deleteCodeBgColor" /><span class="input-group-addon"><button id="deleteCodeBgColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Kbd Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-code="kbd-color" data-cluckles-delete="#deleteKbdColor" /><span class="input-group-addon"><button id="deleteKbdColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Kbd Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-code="kbd-bg-color" data-cluckles-delete="#deleteKbdBgColor" /><span class="input-group-addon"><button id="deleteKbdBgColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Pre Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-code="pre-color" data-cluckles-delete="#deletePreColor" /><span class="input-group-addon"><button id="deletePreColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Pre Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-code="pre-bg-color" data-cluckles-delete="#deletePreBgColor" /><span class="input-group-addon"><button id="deletePreBgColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Pre Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-code="pre-border-color" data-cluckles-delete="#deletePreBorderColor" /><span class="input-group-addon"><button id="deletePreBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Pre Scrollable Max Height</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="340" placeholder="340" min="100" step="10" data-cluckles-code="pre-scrollable-max-height" data-cluckles-delete="#deletePreScrollableMaxHeight" /><span class="input-group-addon"><button id="deletePreScrollableMaxHeight" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Code Panel -->