<!-- Dropdown Branding Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#dropdownEditor">
        Dropdown
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="dropdownEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Background</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-dropdown="bg" data-cluckles-delete="#deleteDropdownBg" /><span class="input-group-addon"><button id="deleteDropdownBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Header Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-dropdown="header-color" data-cluckles-delete="#deleteDropdownHeaderColor" /><span class="input-group-addon"><button id="deleteDropdownHeaderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-dropdown="border-color" data-cluckles-delete="#deleteDropdownBorderColor" /><span class="input-group-addon"><button id="deleteDropdownBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Divider</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-dropdown="divider" data-cluckles-delete="#deleteDropdownDivider" /><span class="input-group-addon"><button id="deleteDropdownDivider" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Link Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-dropdown="link-color" data-cluckles-delete="#deleteDropdownLinkColor" /><span class="input-group-addon"><button id="deleteDropdownLinkColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Link Disabled Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-dropdown="link-disabled-color" data-cluckles-delete="#deleteDropdownLinkDisabledColor" /><span class="input-group-addon"><button id="deleteDropdownLinkDisabledColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Link Hover Background</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-dropdown="link-hover-bg" data-cluckles-delete="#deleteDropdownLinkHoverBg" /><span class="input-group-addon"><button id="deleteDropdownLinkHoverBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Link Hover Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-dropdown="link-hover-color" data-cluckles-delete="#deleteDropdownLinkHoverColor" /><span class="input-group-addon"><button id="deleteDropdownLinkHoverColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Link Active Background</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-dropdown="link-active-bg" data-cluckles-delete="#deleteDropdownLinkActiveBg" /><span class="input-group-addon"><button id="deleteDropdownLinkActiveBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Link Active Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-dropdown="link-active-color" data-cluckles-delete="#deleteDropdownLinkActiveColor" /><span class="input-group-addon"><button id="deleteDropdownLinkActiveColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!--/ Dropdown Branding Panel -->