<!-- Misc Color Branding Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#miscEditor" class="text-muted">
        Misc
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="miscEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Component Base Background</td><td></td><td><input type="color" data-cluckles-misc="component-base-bg" /></td>
          </tr>
          <tr>
            <td>Well Base Background</td><td></td><td><input type="color" data-cluckles-misc="well-base-bg" /></td>
          </tr>
          <tr>
            <td>Body Background</td><td></td><td><input type="color" data-cluckles-misc="body-bg" /></td>
          </tr>
          <tr>
            <td>Text Color</td><td></td><td><input type="color" data-cluckles-misc="text-color" /></td>
          </tr>
          <tr>
            <td>Page Header Border Color</td><td></td><td><input type="color" data-cluckles-misc="page-header-border-color" /></td>
          </tr>
          <tr>
            <td>Link Color</td><td></td><td><input type="color" data-cluckles-misc="link-color" /></td>
          </tr>
          <tr>
            <td>Link Hover Color</td><td></td><td><input type="color" data-cluckles-misc="link-hover-color" /></td>
          </tr>
          <tr>
            <td>Horizontal Rule Color</td><td></td><td><input type="color" data-cluckles-misc="horizontal-rule-color" /></td>
          </tr>
          <tr>
            <td>Border Radius Base</td><td></td><td><input type="number" value="4" placeholder="4" min="0" step="1" data-cluckles-misc="border-radius-base" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Misc Color Branding Panel -->