<!-- Modal Panel -->
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h4 class="panel-title pull-left">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#modalEditor">
        Modals
      </a>
    </h4>
    <a data-cluckles-location="#modal-component" class="btn btn-default btn-xs pull-right"><i class="fa fa-arrow-right"></i></a>
  </div>
  <div class="panel-collapse collapse" id="modalEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Inner Padding</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="20" placeholder="20" min="0" step="1" data-cluckles-modal="inner-padding" data-cluckles-delete="#deleteModalInnerPadding" /><span class="input-group-addon"><button id="deleteModalInnerPadding" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Title Padding</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="15" placeholder="15" min="0" step="1" data-cluckles-modal="title-padding" data-cluckles-delete="#deleteModalTitlePadding" /><span class="input-group-addon"><button id="deleteModalTitlePadding" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Title Line Height</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="15" placeholder="15" min="0" step="1" data-cluckles-modal="title-line-height" data-cluckles-delete="#deleteModalTitleLineHeight" /><span class="input-group-addon"><button id="deleteModalTitleLineHeight" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Content Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-modal="content-bg" data-cluckles-delete="#deleteModalContentBg" /><span class="input-group-addon"><button id="deleteModalContentBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Content Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-modal="content-border-color" data-cluckles-delete="#deleteModalContentBorderColor" /><span class="input-group-addon"><button id="deleteModalContentBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Content Fallback Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-modal="content-fallback-border-color" data-cluckles-delete="#deleteModalContentFallbackBorderColor" /><span class="input-group-addon"><button id="deleteModalContentFallbackBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Backdrop Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-modal="backdrop-bg" data-cluckles-delete="#deleteModalBackdropBg" /><span class="input-group-addon"><button id="deleteModalBackdropBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Backdrop Opacity</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="0.5" placeholder="0.5" min="0" step="0.1" data-cluckles-modal="backdrop-opacity" data-cluckles-delete="#deleteModalBackdropOpacity" /><span class="input-group-addon"><button id="deleteModalBackdropOpacity" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Header Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-modal="header-border-color" data-cluckles-delete="#deleteModalHeaderBorderColor" /><span class="input-group-addon"><button id="deleteModalHeaderBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Footer Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-modal="footer-border-color" data-cluckles-delete="#deleteModalFooterBorderColor" /><span class="input-group-addon"><button id="deleteModalFooterBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Modal Panel -->