<!-- Panels Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#panelsEditor" class="text-muted">
        Panels
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="panelsEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Panel Footer Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-panelbase="footer-bg" data-cluckles-delete="#deletePanelbaseFooterBg" /><span class="input-group-addon"><button id="deletePanelbaseFooterBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Panel Body Padding</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="15" placeholder="15" min="0" step="1" data-cluckles-panelbase="body-padding" data-cluckles-delete="#deletePanelbaseBodyPadding" /><span class="input-group-addon"><button id="deletePanelbaseBodyPadding" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Panel Border Radius</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="4" placeholder="4" min="0" step="1" data-cluckles-panelbase="border-radius" data-cluckles-delete="#deletePanelbaseBorderRadius" /><span class="input-group-addon"><button id="deletePanelbaseBorderRadius" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Panels Panel -->