<!-- Popover Panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#editorComponents" href="#popoverEditor">
          Popovers
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="popoverEditor">
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr><th>Property</th><th>Example</th><th>Change</th></tr>
          </thead>
          <tbody>
            <tr>
              <td>Background Color</td><td></td><td><input type="color" data-cluckles-popover="bg" /></td>
            </tr>
            <tr>
              <td>Max Width</td><td></td><td><input type="number" value="200" placeholder="200" min="50" step="1" data-cluckles-popover="max-width" /></td>
            </tr>
            <tr>
              <td>Border Color</td><td></td><td><input type="color" data-cluckles-popover="border-color" /></td>
            </tr>
            <tr>
              <td>Fallback Border Color</td><td></td><td><input type="color" data-cluckles-popover="fallback-border-color" /></td>
            </tr>
            <tr>
              <td>Title Background Color</td><td></td><td><input type="color" data-cluckles-popover="title-bg" /></td>
            </tr>
            <tr>
              <td>Arrow Width</td><td></td><td><input type="number" value="10" placeholder="10" min="0" step="1" data-cluckles-popover="arrow-width" /></td>
            </tr>
            <tr>
              <td>Arrow Color</td><td></td><td><input type="color" data-cluckles-popover="arrow-color" /></td>
            </tr>
            <tr>
              <td>Arrow Outer Width</td><td></td><td><input type="number" value="11" placeholder="11" min="0" step="1" data-cluckles-popover="arrow-outer-width" /></td>
            </tr>
            <tr>
              <td>Arrow Outer Fallback Color</td><td></td><td><input type="color" data-cluckles-popover="arrow-outer-fallback-color" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- /Popover Panel -->