<!-- Popover Panel -->
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h4 class="panel-title pull-left">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#popoverEditor">
        Popovers
      </a>
    </h4>
    <a data-cluckles-location="#popover-component" class="btn btn-default btn-xs pull-right"><i class="fa fa-arrow-right"></i></a>
  </div>
  <div class="panel-collapse collapse" id="popoverEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-popover="bg" data-cluckles-delete="#deletePopoverBg" /><span class="input-group-addon"><button id="deletePopoverBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Max Width</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="200" placeholder="200" min="50" step="1" data-cluckles-popover="max-width" data-cluckles-delete="#deletePopoverMaxWidth" /><span class="input-group-addon"><button id="deletePopoverMaxWidth" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-popover="border-color" data-cluckles-delete="#deletePopoverBorderColor" /><span class="input-group-addon"><button id="deletePopoverBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Fallback Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-popover="fallback-border-color" data-cluckles-delete="#deletePopoverFallbackBorderColor" /><span class="input-group-addon"><button id="deletePopoverFallbackBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Title Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-popover="title-bg" data-cluckles-delete="#deletePopoverTitleBg" /><span class="input-group-addon"><button id="deletePopoverTitleBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Arrow Width</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="10" placeholder="10" min="0" step="1" data-cluckles-popover="arrow-width" data-cluckles-delete="#deletePopoverArrowWidth" /><span class="input-group-addon"><button id="deletePopoverArrowWidth" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Arrow Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-popover="arrow-color" data-cluckles-delete="#deletePopoverArrowColor" /><span class="input-group-addon"><button id="deletePopoverArrowColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Arrow Outer Width</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="11" placeholder="11" min="0" step="1" data-cluckles-popover="arrow-outer-width" data-cluckles-delete="#deletePopoverArrowOuterWidth" /><span class="input-group-addon"><button id="deletePopoverArrowOuterWidth" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Arrow Outer Fallback Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-popover="arrow-outer-fallback-color" data-cluckles-delete="#deletePopoverArrowOuterFallbackColor" /><span class="input-group-addon"><button id="deletePopoverArrowOuterFallbackColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Popover Panel -->