<!-- Thumbnails Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#thumbnailsEditor">
        Thumbnails
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="thumbnailsEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Padding</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="4" placeholder="4" min="0" step="1" data-cluckles-thumbnail="padding" data-cluckles-delete="#deleteThumbnailPadding" /><span class="input-group-addon"><button id="deleteThumbnailPadding" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-thumbnail="bg" data-cluckles-delete="#deleteThumbnailBg" /><span class="input-group-addon"><button id="deleteThumbnailBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-thumbnail="border-color" data-cluckles-delete="#deleteThumbnailBorderColor" /><span class="input-group-addon"><button id="deleteThumbnailBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Border Radius</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="4" placeholder="4" min="0" step="1" data-cluckles-thumbnail="border-radius" data-cluckles-delete="#deleteThumbnailBorderRadius" /><span class="input-group-addon"><button id="deleteThumbnailBorderRadius" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Caption Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-thumbnail="caption-color" data-cluckles-delete="#deleteThumbnailCaptionColor" /><span class="input-group-addon"><button id="deleteThumbnailCaptionColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Caption Padding</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="9" placeholder="9" min="0" step="1" data-cluckles-thumbnail="caption-padding" data-cluckles-delete="#deleteThumbnailCaptionPadding" /><span class="input-group-addon"><button id="deleteThumbnailCaptionPadding" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Thumbnails Panel -->