<!-- Tooltips Panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#editorComponents" href="#tooltipsEditor">
          Tooltips
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="tooltipsEditor">
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr><th>Property</th><th>Example</th><th>Change</th></tr>
          </thead>
          <tbody>
            <tr>
              <td>Max Width</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="200" placeholder="200" min="50" step="1" data-cluckles-tooltip="max-width" data-cluckles-delete="#deleteTooltipMaxWidth" /><span class="input-group-addon"><button id="deleteTooltipMaxWidth" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
            </tr>
            <tr>
              <td>Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-tooltip="color" data-cluckles-delete="#deleteTooltipColor" /><span class="input-group-addon"><button id="deleteTooltipColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
            </tr>
            <tr>
              <td>Background Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-tooltip="bg" data-cluckles-delete="#deleteTooltipBg" /><span class="input-group-addon"><button id="deleteTooltipBg" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
            </tr>
            <tr>
              <td>Opacity</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="0.9" placeholder="0.9" min="0" step="0.1" data-cluckles-tooltip="opacity" data-cluckles-delete="#deleteTooltipOpacity" /><span class="input-group-addon"><button id="deleteTooltipOpacity" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
            </tr>
            <tr>
              <td>Arrow Width</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="5" placeholder="5" min="0" step="1" data-cluckles-tooltip="arrow-width" data-cluckles-delete="#deleteTooltipArrowWidth" /><span class="input-group-addon"><button id="deleteTooltipArrowWidth" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
            </tr>
            <tr>
              <td>Arrow Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-tooltip="arrow-color" data-cluckles-delete="#deleteTooltipArrowColor" /><span class="input-group-addon"><button id="deleteTooltipArrowColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- /Tooltips Panel -->