<!-- Typography Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#typographyEditor">
        Typography
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="typographyEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Font Family Sans Serif</td><td></td><td><input type="text" value='Helvetica Neue", Helvetica, Arial, sans-serif' placeholder='"Helvetica Neue", Helvetica, Arial, sans-serif' data-cluckles-typography="font-family-sans-serif" /></td>
          </tr>
          <tr>
            <td>Font Family Serif</td><td></td><td><input type="text" value='Georgia, "Times New Roman", Times, serif' placeholder='Georgia, "Times New Roman", Times, serif' data-cluckles-typography="font-family-serif" /></td>
          </tr>
          <tr>
            <td>Font Size Base</td><td></td><td><input type="number" value='14' placeholder="14" min='9' step='1' data-cluckles-typography="font-size-base" /></td>
          </tr>
          <tr>
            <td>Headings Font Family</td><td></td><td><input type="text" value='inherit' placeholder='inherit' data-cluckles-typography="headings-font-family" /></td>
          </tr>
          <tr>
            <td>Headings Line Height</td><td></td><td><input type="number" value="1" placeholder="1" min="0" step="0.1" data-cluckles-typography="headings-line-height" /></td>
          </tr>
          <tr>
            <td>Headings Font Weight</td><td></td><td><input type="text" value="normal" placeholder="normal" data-cluckles-typography="headings-font-weight" /></td>
          </tr>
          <tr>
            <td>Headings Color</td><td></td><td><input type="color" data-cluckles-typography="headings-color" /></td>
          </tr>
          <tr>
            <td>Headings Small Color</td><td></td><td><input type="color" data-cluckles-typography="headings-small-color" /></td>
          </tr>
          <tr>
            <td>Text Muted Color</td><td></td><td><input type="color" data-cluckles-typography="text-muted-color" /></td>
          </tr>
          <tr>
            <td>Abbr Border Color</td><td></td><td><input type="color" data-cluckles-typography="abbr-border-color" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Typography Panel -->