/*
Style.css because we were all new once ;)
*/

#mainNavigation {
    margin-bottom: 0;
}

.seamless-jumbotron {
    margin-bottom: 0;
}

.showcase-lighter {
    /*background-color: #F9FCFF;*/
}

.showcase-darker {
    background-color: #F9FCFF;
}

#pageFooter {
    background: #000;
    color: #e5e5e5;
}
/*
.logo-wrapper {
    width: 338px;
    height: 304px;
    background-color: #FFF;
    border: 5px solid #617FFF;
    border-radius: 210px 210px;
    display: block;
    box-shadow: 2px 2px 3px #000;
}*/