<!-- Download Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Download Theme</h3>
  </div>
  <div class="panel-body">
    <p class="lead">Once you're happy with the changes, click the <span class="text-primary">Download Buttons</span> below and you will get the Theme customisations (in JSON or CSS)</p>
    <p>The <strong>theme.css</strong> file will be a modified bootstrap.css file, so you can replace your bootstrap.css file (if you have one) with the theme.css file and your customised theme will be used.</p>
    <p>The <strong>theme.json</strong> file can be used to import the customisations back into Cluckles at a later point, so you dont have to start customising from scratch again!</p>

    <p class="text-center">
      <a class="FlattrButton text-center" style="display: none;" 
      title="Cluckles Live Theme Editor" 
      href="http://cluckles.com" 
      data-tags="opensource, javascript, bootstrap, cluckles" 
      data-category="software">
        <img src="https://api.flattr.com/button/flattr-badge-large.png" alt="Flattr Cluckles" />
      </a><br />
      <a href="https://www.gittip.com/ilikeprograms/" title="iLikePrograms on Gittip" target="_blank"><img src="http://img.shields.io/gittip/ilikeprograms.svg" alt="ilikeprograms Gittip status" /></a>
    </p>
    
    <em>I also developed the <a href="https://github.com/ilikeprograms/BootstrapThemeBundle">BoostrapThemeBundle</a> for Symfony2, which integrates Bootstrap Themeing for Symfony apps (which embeds Cluckles).</em>
  </div>
  <div class="panel-footer" id="download-panel-footer"></div>
</div> <!-- /Download Panel -->