<clr-main-container>
  <app-header></app-header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

    <!-- <clr-vertical-nav
      [clrVerticalNavCollapsible]="true"
    >
      <div class="nav-content">
        <clr-vertical-nav-group>
            <clr-icon shape="flame" clrVerticalNavIcon></clr-icon>
            Dr T.
            <clr-vertical-nav-group-children>
              <a clrVerticalNavLink>Charmander</a>
              <a clrVerticalNavLink>Jigglypuff</a>
              <a clrVerticalNavLink>Pikachu</a>
              <a clrVerticalNavLink>Raichu</a>
              <a clrVerticalNavLink>Snorlax</a>
              <div class="nav-divider"></div>
              <a clrVerticalNavLink>Credit</a>
            </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
      </div>
    </clr-vertical-nav> -->
  </div>

  <!-- <app-social-links></app-social-links> -->
</clr-main-container>
