<!-- Download Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Download Theme</h3>
  </div>
  <div class="panel-body">
    <p>Once your happy with the changes, click the Download button below and you will get a <span class="text-info">theme.json</span> file.<br />
      You can then use this file to modify the variables in Less using a Less Compiler</p>
    <p>To do that, first of all parse the <span class="text-info">theme.json</span> file (which is included in this page) and then parse the <span class="text-info">theme.json</span> file using the the <code>modifyVars</code> function.</p>
    <p>
      How you choose to do that isnt part of the BootstrapThemeEditor.
      However, if you are using Symfony2, you can use <a href="https://github.com/ilikeprograms/BootstrapThemeBundle">BoostrapThemeBundle</a> which is also developed by me.
    </p>
  </div>
  <div class="panel-footer" id="download-panel-footer"></div>
</div> <!-- /Download Panel -->