<!-- Main Page Navigation -->
<div class="navbar navbar-inverse navbar-static-top">
  <!-- Navbar Header -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavigation">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Cluckles</a>
  </div> <!-- /Navbar Header -->

  <!-- Navbar Nav -->
  <div class="collapse navbar-collapse" id="mainNavigation">
    <ul class="nav navbar-nav">
      <li><a href="https://github.com/ilikeprograms/Cluckles" target="_blank" title="Cluckles on Github">Github <sup><i class="fa fa-external-link"></i></sup></a></li>
    </ul>
  </div> <!-- /Navbar Nav -->
</div> <!-- /Main Page Navigation -->