<!-- Options Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Options</h3>
  </div>
  <div class="panel-body">
    <div class="alert alert-success">
      <strong>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-bullhorn fa-flip-horizontal fa-stack-1x"></i>
        </span><br />
      Just Added!</strong> You can now import a variables.less file directly into Cluckles.<br />
      It will extract the variables and apply it as a brand new theme!
    </div>
    <div class="btn-toolbar" role="toolbar">
      <div class="btn btn-group btn-group-xs">
        <button type="button" class="btn btn-danger" data-cluckles-options="reset"><i class="fa fa-trash-o"></i> Reset</button>
        <button type="button" class="btn btn-default" data-cluckles-options="reset-theme"><i class="fa fa-paint-brush"></i> Reset Theme</button>
      </div>
      
      <div class="btn btn-group btn-group-xs">
        <button type="button" class="btn btn-default" data-cluckles-options="undo"><i class="fa fa-undo"></i> Undo</button>
        <button type="button" class="btn btn-default" data-cluckles-options="redo"><i class="fa fa-repeat"></i> Redo</button>
      </div>
    </div>
    
    <input type="file" class="btn btn-default" data-cluckles-options="import" />    
  </div>
</div> <!-- /Options Panel -->

<!-- /Options Toolbar -->