<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:process -->
  <meta name="author" content="<%= pkg.author %>">
  <!-- /build -->

  <title>Bootstrap Theme Editor</title>

  <!-- build:style example --><!-- /build -->
  <link type="text/css" href="../less/bootstrap.less" rel="stylesheet/less" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style id="holderjs-style" type="text/css"></style>
</head>

<body role="document">
  <!-- build:section templates.page.navigation -->
  <!-- /build -->

  <!-- Main container -->
  <div class="container-fluid" id="mainContainer">
    <div class='row'>
      <!-- build:section templates.components --><!-- /build -->

      <!-- build:section templates.editor --><!-- /build-->
    </div>
  </div> <!-- /Main container -->
  <hr />

  <!-- Page Footer-->
  <footer class="container text-center">
    <p>Project Created and Maintained by <a href="http://ilikeprograms.com" title="ilikeprograms Website">ilikeprograms</a> (Thomas Coleman)</p>

    <!-- build:process -->
    <ul class="nav-justified">
      <li><a href="<%= pkg.homepage %>" title="BootstrapThemeEditor on Github">Github</a></li>
      <li><a href="<%= pkg.homepage %>/issues" title="BootstrapThemeEditor Issues on Github">Issues</a></li>
      <li><a href="<%= pkg.homepage %>/releases" title="BootstrapThemeEditor Releases on Github">Releases</a></li>
    </ul>
    <p>Licenced under <%= pkg.license %>.</p>
    <!-- /build:process -->
  </footer>
  <!-- /Page Footer-->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../js/lib/jquery.min.js"><\/script>');</script>
  
  <!-- Load JS Libs which are required -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script>typeof $.fn.modal !== 'undefined' || document.write('<script src="../js/lib/bootstrap.min.js"><\/script>');</script>

  <!-- Initialise Less with some default options, so we can start to live edit -->
  <script>
    less = {
      env: "development",
      logLevel: 2,
      async: false,
      fileAsync: false,
      poll: 1000,
      functions: {},
      dumpLineNumbers: "comments",
      relativeUrls: false,
    };
  </script>

  <!-- Load Less from the CDN -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
  <script>less.hasOwnProperty('Parser') || document.write('<script src="../js/lib/less-1.7.3.min.js"><\/script>');</script>
  <script src="//localhost:35729/livereload.js"></script>

  <!-- build:process -->
  <!-- Load our Fancy live editing ThemeEditor -->
  <script src="../bsThemeEditor-<%= pkg.version %>.js"></script>
  <!-- /build -->
  <script>
    $('.example-tooltips').tooltip();
    $('.example-left-tooltip').tooltip({'trigger': 'manual'});
    $('.example-left-tooltip').tooltip('show');

    $('.example-popovers').popover();
    $('.example-left-popover').popover({'trigger': 'click'});
    $('.example-left-popover').popover('show');

    var themeEditor = new ThemeEditor(less, {
      export: {
        target: '#download-panel-footer',   // Fallback/General Target
        json: {
          target: '#download-panel-footer', // Custom Target
          id: 'download-theme-json',        // Custom Id
          text: 'Download Json'             // Custom Text
        },
        css: {}, // Blank Object provided makes the Css download button appear
        save: {
          url: "http://localhost:9000/example/",
          callback: function () {
            alert('Theme modifications have been saved');
          }
        }
      }
    });
  </script>
</body>
</html>