<!-- Default Color Branding Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
    <a data-toggle="collapse" data-parent="#brandColor" href="#defaultBrandingEditor">
      Grayscale
    </a>
    </h4>
  </div>
  <div class="panel-collapse collapse in" id="defaultBrandingEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Base</td><td></td><td><input type="color" onchange="themeEditor.grayScale.base.setColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Darker</td><td></td><td><input type="color" onchange="themeEditor.grayScale.darker.setColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Dark</td><td></td><td><input type="color" onchange="themeEditor.grayScale.dark.setColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Gray</td><td></td><td><input type="color" onchange="themeEditor.grayScale.gray.setColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Light</td><td></td><td><input type="color" onchange="themeEditor.grayScale.light.setColor(this.value);" /></td>
          </tr>
          <tr>
            <td>Lighter</td><td></td><td><input type="color" onchange="themeEditor.grayScale.lighter.setColor(this.value);" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Default Color Branding Panel -->