<!-- Info Color Branding Panel -->
<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#brandColor" href="#infoBrandingColor">
        Info
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="infoBrandingColor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Button Background</td><td><button class="btn btn-info">Info Btn</button></td><td><input type="color" onchange="themeEditor.branding.setInfo(this.value);" /></td>
          </tr>
          <tr>
            <td>Alert/Panel Heading Background Color</td><td><div class="alert alert-info"><strong>Info!</strong> message</div></td><td><input type="color" onchange="themeEditor.formStates.info.setHeadingBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Heading/ Alert Text Color</td><td><span class="text-info">Info Text</span></td><td><input type="color" onchange="themeEditor.formStates.info.setText(this.value);" /></td>
          </tr>
          <tr>
            <td>Border Color</td><td></td><td><input type="color" onchange="themeEditor.formStates.info.setBorder(this.value);" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!--/ Info Color Branding Panel -->