<!-- Warning Color Branding Panel -->
<div class="panel panel-warning">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#brandColor" href="#warningBrandingColor">
        Warning
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="warningBrandingColor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Button Background</td><td><button class="btn btn-warning">Warning Btn</button></td><td><input type="color" onchange="themeEditor.branding.setWarning(this.value);" /></td>
          </tr>
          <tr>
            <td>Alert/Panel Heading Background Color</td><td><div class="alert alert-warning"><strong>Warning!</strong> message</div></td><td><input type="color" onchange="themeEditor.formStates.warning.setHeadingBackground(this.value);" /></td>
          </tr>
          <tr>
            <td>Heading/ Alert Text Color</td><td><span class="text-warning">Warning Text</span></td><td><input type="color" onchange="themeEditor.formStates.warning.setText(this.value);" /></td>
          </tr>
          <tr>
            <td>Border Color</td><td></td><td><input type="color" onchange="themeEditor.formStates.warning.setBorder(this.value);" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!--/ Warning Color Branding Panel -->