<!-- Blockquote Panel -->
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h4 class="panel-title pull-left">
      <a data-toggle="collapse" data-parent="#editorComponents" href="#blockquoteEditor">
        Blockquote
      </a>
    </h4>
    <a data-cluckles-location="#blockquote-component" class="btn btn-default btn-xs pull-right"><i class="fa fa-arrow-right"></i></a>
  </div>
  <div class="panel-collapse collapse" id="blockquoteEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Small Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-blockquote="small-color" data-cluckles-delete="#deleteBlockquoteSmallColor" /><span class="input-group-addon"><button id="deleteBlockquoteSmallColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Font Size</td><td></td><td><div class="input-group"><input type="number" class="form-control" value="21" placeholder="21" min="12" step="1" data-cluckles-blockquote="font-size" data-cluckles-delete="#deleteBlockquoteFontSize" /><span class="input-group-addon"><button id="deleteBlockquoteFontSize" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
          <tr>
            <td>Border Color</td><td></td><td><div class="input-group"><input type="color" class="form-control" data-cluckles-blockquote="border-color" data-cluckles-delete="#deleteBlockquoteBorderColor" /><span class="input-group-addon"><button id="deleteBlockquoteBorderColor" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></span></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Blockquote Panel -->