body {
    padding-bottom: 30px;
    padding-top: 70px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.fixed-scroll-sidebar {
    overflow: scroll;
    height: 580px;
    margin-bottom: 20px;
}

.example-modal-panel .example-modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}