<!-- Success Color Branding Panel -->
<div class="panel panel-success">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#brandColor" href="#successBrandingEditor">
        Success
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="successBrandingEditor">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr><th>Property</th><th>Example</th><th>Change</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Button Background</td><td><button class="btn btn-success">Success Btn</button></td><td><input type="color" data-cluckles-branding="success" /></td>
          </tr>
          <tr>
            <td>Alert/Panel Heading Background Color</td><td><div class="alert alert-success"><strong>Success!</strong> message</div></td><td><input type="color" data-cluckles-formstate-success="heading-bg" /></td>
          </tr>
          <tr>
            <td>Heading/ Alert Text Color</td><td><span class="text-success">Success Text</span></td><td><input type="color" data-cluckles-formstate-success="text" /></td>
          </tr>
          <tr>
            <td>Border Color</td><td></td><td><input type="color" data-cluckles-formstate-success="border-color" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /Success Color Branding Panel -->