<clr-stack-view>
  <clr-stack-header>Components</clr-stack-header>

  <clr-stack-block
    *ngFor="let component of componentProperties$ | async | keyvalue"
  >
    <clr-stack-label>
      {{ component.key | titlecase }}

      <clr-icon
        shape="eye"
        *ngIf="isComponentVisible(component.key)"
        (click)="toggleComponentVisible(component.key, $event)"
      ></clr-icon>
      <clr-icon
        shape="eye-hide"
        *ngIf="!isComponentVisible(component.key)"
        (click)="toggleComponentVisible(component.key, $event)"
      ></clr-icon>
    </clr-stack-label>

    <clr-stack-block *ngFor="let property of component.value.properties">
      <clr-stack-label>{{ property.key }}</clr-stack-label>
      <clr-stack-content>
        <ng-container [ngSwitch]="property.type">
          <div *ngSwitchCase="variableTypes.color">
            <app-color-picker
              [color]="property.value"
              [label]="property.label"
              (colorChanged)="compileChange(property, $event)"
            ></app-color-picker>
          </div>

          <div *ngSwitchCase="variableTypes.fontweight">
            <app-font-weight
              [weight]="property.value"
              [label]="property.label"
              (weightChanges)="compileChange(property, $event)"
            ></app-font-weight>
          </div>

          <div *ngSwitchCase="variableTypes.text">
            <app-text-unit
              [value]="property.value"
              [label]="property.label"
              (valueChanged)="compileChange(property, $event)"
            ></app-text-unit>
          </div>

          <div *ngSwitchDefault>
            <app-size-unit
              [size]="property.value"
              [unit]="property.unit"
              [label]="property.label"
              (valueChanged)="sizeChange(property, $event)"
            ></app-size-unit>
          </div>
        </ng-container>
      </clr-stack-content>
    </clr-stack-block>
  </clr-stack-block>

  <!-- <clr-stack-block [clrSbExpanded]="true">
      <clr-stack-label>Label 2</clr-stack-label>
      <clr-stack-content>Content 2</clr-stack-content>
      <clr-stack-block>
          <clr-stack-label>Sub-label 1</clr-stack-label>
          <clr-stack-content>Sub-content 1</clr-stack-content>
      </clr-stack-block>
      <clr-stack-block>
          <clr-stack-label>Sub-label 2</clr-stack-label>
          <clr-stack-content>Sub-content 2</clr-stack-content>
      </clr-stack-block>
      <clr-stack-block>
          <clr-stack-label>Sub-label 3</clr-stack-label>
          <clr-stack-content>Sub-content 3</clr-stack-content>
      </clr-stack-block>
  </clr-stack-block> -->
</clr-stack-view>
